
{% extends 'base.html' %}

{% block body_block %}

{% load static%}

<div class="teachers_profile">
<!--============================
    Teacher Single Content
=============================-->
<section class="teacher-details-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 teacher-detail-left">
                <div class="teacher_info_wrapper">
                    <div class="teacger-image">
                        <img src="{% static 'images/team/as.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="social_wraper">
                        <ul class="social-items d-flex list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram ins-icon"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div><!-- Ends: .teacher-detail-left -->
            <div class="col-sm-8 teacher-detail-right">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="teacher-info">
                            <ul class="list-unstyled">
                                <li>
                                    <h3>Name :</h3>
                                    <span>Ayushi Shah</span>
                                </li>
                                <li>
                                    <h3>Designation :</h3>
                                    <span>Asst. Manager-Sphere InfoTech</span>
                                </li>
                                <li>
                                    <h3>Experience :</h3>
                                    <span>2 Years of Teaching Career</span>
                                </li>
                                <li>
                                    <h3>Language :</h3>
                                    <span>English, Hindi</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="courses_tab_wrapper">
                            <div class="courses_details_nav_tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" href="#information" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-info-sign"></i>About Insructor</a></li>

                                </ul>
                            </div>

                            <!-- Tab panes -->
                            <div class="tab_contents tab-content">
                                <div role="tabpanel" class="tab-pane fade in active show" id="information">
                                    <p>Ayushi is a distinction holder in Bachelor of Computer Applications (B.C.A) from Gujarat University. She is Technically very strong in some of the latest Technologies like PHP, Python, Laravel, Flutter, AWS (Amazon Web Services), React Native, Android, C#, Asp.Net etc. She also has excellent Teaching skills and takes up sessions for both College Level students as well as Professionals. She holds great knowledge in DBMS (My SQL, SQLite, Oracle). She is the Asst. Manager at ‘Sphere InfoTech’.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Ends: .teacher-detail-right -->
        </div>
    </div>
</section><!-- Ends: .teacher-details-wrapper -->




</div>
{% endblock %}
