
{% extends 'base.html' %}
{% block dukh %}
{{index}}
{% endblock %}
{% block body_block %}
{% load static %}




    <!--==================
        Slider
    ===================-->
<div class="rev_slider_wrapper">
            <div id="rev_slider_1" class="rev_slider" style="display:none">

                <!-- BEGIN SLIDES LIST -->
                <ul>

                    <li data-index="rs-1706" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                        <div class="slider-overlay"></div>
                        <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                        <img src="{% static 'images/nivo-1.jpg' %}" alt="Sky" class="rev-slidebg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- BEGIN BASIC TEXT LAYER -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme"
                             id="slide-3045-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-150','0','0','0']"
                                        data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[10,10,10,10]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 5; white-space: nowrap;text-transform:left;">Better Education for</div>

                        <!-- LAYER NR.2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme"
                             id="slide-3045-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-75','0','0','0']"
                                        data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[10,10,10,10]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 5; white-space: nowrap;text-transform:left;">a better World</div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p"
                            data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','0','0','0']"
                                        data-fontsize="['16','16','16','16']"
                            data-lineheight="['30','30','30','30']"
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            style="z-index: 7; color:#fff; font-family:'Poppins', serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:400;"><p>Lorem ipsum dolor sit amet, consectetur elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rev-btn rev-btn left_btn"
                             id="slide-2939-layer-8"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','top','top']" data-voffset="['150','268','456','420']"
                                        data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                            data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:rgba(251, 26, 73, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[40,40,40,40]"

                            style="z-index: 14; white-space: nowrap; font-size: 18px; line-height: 74px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Poppins;text-transform:left;background-color:#fdc93a;border-color:rgba(0, 0, 0, 1.00);border-width:2px;letter-spacing:1px;">Read More</div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rev-btn rev-btn right-btn"
                             id="slide-2939-layer-8"
                             data-x="['left','left','left','left']" data-hoffset="['220','0','0','0']"
                             data-y="['middle','middle','top','top']" data-voffset="['150','268','456','420']"
                                        data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                            data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:rgba(251, 26, 73, 1.00);bw:2px 2px 2px 2px; "}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[40,40,40,40]"

                            style="z-index: 14; white-space: nowrap; font-size: 18px; line-height: 74px; font-weight: 600; color:#ffffff;font-family:Poppins;text-transform:left;background-color:#c54d42;letter-spacing:1px;">Apply Now</div>
                    </li>

                    <li data-index="rs-1707" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="slider-overlay"></div>
                        <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                        <img src="{% static 'images/nivo-2.jpg' %}" alt="Sky" class="rev-slidebg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- BEGIN BASIC TEXT LAYER -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme"
                             id="slide-3045-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-150','0','0','0']"
                                        data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[10,10,10,10]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 5; white-space: nowrap;text-transform:left;">Take the first step to</div>

                        <!-- LAYER NR.2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme"
                             id="slide-3045-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-75','0','0','0']"
                                        data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[10,10,10,10]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 5; white-space: nowrap;text-transform:left;">learn with us</div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p"
                            data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','0','0','0']"
                                        data-fontsize="['16','16','16','16']"
                            data-lineheight="['30','30','30','30']"
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            style="z-index: 7; color:#fff; font-family:'Poppins', serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:400;"><p class="h_p">Lorem ipsum dolor sit amet, consectetur elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                         <!-- LAYER NR. 4 -->
                        <div class="tp-caption rev-btn rev-btn left_btn"
                             id="slide-2939-layer-8"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','top','top']" data-voffset="['150','268','456','420']"
                                        data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                            data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:rgba(251, 26, 73, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[40,40,40,40]"

                            style="z-index: 14; white-space: nowrap; font-size: 18px; line-height: 74px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Poppins;text-transform:left;background-color:#fdc93a;border-color:rgba(0, 0, 0, 1.00);border-width:2px;letter-spacing:1px;">Read More</div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rev-btn rev-btn right-btn"
                             id="slide-2939-layer-8"
                             data-x="['left','left','left','left']" data-hoffset="['220','0','0','0']"
                             data-y="['middle','middle','top','top']" data-voffset="['150','268','456','420']"
                                        data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                            data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:rgba(251, 26, 73, 1.00);bw:2px 2px 2px 2px; "}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[40,40,40,40]"

                            style="z-index: 14; white-space: nowrap; font-size: 18px; line-height: 74px; font-weight: 600; color:#ffffff;font-family:Poppins;text-transform:left;background-color:#c54d42;letter-spacing:1px;">Apply Now</div>
                    </li>

                      <li data-index="rs-1708" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="slider-overlay"></div>
                        <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                        <img src="{% static 'images/nivo-3.jpg' %}" alt="Sky" class="rev-slidebg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                        <!-- BEGIN BASIC TEXT LAYER -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme"
                             id="slide-3045-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-150','0','0','0']"
                                        data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[10,10,10,10]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 5; white-space: nowrap;text-transform:left;">Are you ready to </div>

                        <!-- LAYER NR.2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme"
                             id="slide-3045-layer-1"
                             data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-75','0','0','0']"
                                        data-fontsize="['70','70','70','45']"
                            data-lineheight="['70','70','70','50']"
                            data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="text"
                            data-responsive_offset="on"

                            data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[10,10,10,10]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[10,10,10,10]"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 5; white-space: nowrap;text-transform:left;">apply?</div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 h-p"
                            data-x="['left','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['20','0','0','0']"
                                        data-fontsize="['16','16','16','16']"
                            data-lineheight="['30','30','30','30']"
                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":400,"to":"o:1;","delay":100,"split":"chars","splitdelay":0.05,"ease":"Power3.easeInOut"},{"delay":"wait","speed":100,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                            style="z-index: 7; color:#fff; font-family:'Poppins', serif; max-width: auto; max-height: auto; white-space: nowrap; font-weight:400;"><p class="h_p">Lorem ipsum dolor sit amet, consectetur elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>

                         <!-- LAYER NR. 4 -->
                        <div class="tp-caption rev-btn rev-btn left_btn"
                             id="slide-2939-layer-8"
                             data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','top','top']" data-voffset="['150','268','456','420']"
                                        data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                            data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#ffffff;bg:rgba(251, 26, 73, 1.00);bw:2px 2px 2px 2px;"}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[40,40,40,40]"

                            style="z-index: 14; white-space: nowrap; font-size: 18px; line-height: 74px; font-weight: 600; color: rgba(255, 255, 255, 1.00);font-family:Poppins;text-transform:left;background-color:#fdc93a;border-color:rgba(0, 0, 0, 1.00);border-width:2px;letter-spacing:1px;">Read More</div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rev-btn rev-btn right-btn"
                             id="slide-2939-layer-8"
                             data-x="['left','left','left','left']" data-hoffset="['220','0','0','0']"
                             data-y="['middle','middle','top','top']" data-voffset="['150','268','456','420']"
                                        data-width="none"
                            data-height="none"
                            data-whitespace="nowrap"

                            data-type="button"
                            data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2939","delay":""}]'
                            data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:#fff;bg:rgba(251, 26, 73, 1.00);bw:2px 2px 2px 2px; "}]'
                            data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[40,40,40,40]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[40,40,40,40]"

                            style="z-index: 14; white-space: nowrap; font-size: 18px; line-height: 74px; font-weight: 600; color:#ffffff;font-family:Poppins;text-transform:left;background-color:#c54d42;letter-spacing:1px;">Apply Now</div>
                    </li>

                </ul><!-- END SLIDES LIST -->

            </div><!-- END SLIDER CONTAINER -->
        </div><!-- END SLIDER CONTAINER WRAPPER -->
</header>
    <!--  End header section-->



    <!--  End header section-->
<section class="login_signup_option">
    <div class="l-modal is-hidden--off-flow js-modal-shopify">
        <div class="l-modal__shadow js-modal-hide"></div>
        <div class="login_popup login_modal_body">
            <div class="Popup_title d-flex justify-content-between">
                <h2 class="hidden">&nbsp;</h2>
                <!-- Nav tabs -->
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12 col-lg-12 login_option_btn">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#login" role="tab">Login</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Register</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                        <!-- Tab panels -->
                        <div class="tab-content card">
                            <!--Login-->
                            <div class="tab-pane fade in show active" id="login" role="tabpanel">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input type="email" class="form-control" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label">Password</label>
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option">
                                            <a href="#" title="" class="forget_pass">Forget Password ?</a>
                                            <button type="submit" class="btn btn-default login_btn">Login</button>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="social_login">
                                                <div class="social_items">
                                                    <button class="google_login google">Login Google</button>
                                                    <button class="google_login facebook">Login Facebook</button>
                                                    <button class="google_login twitter">Login Twitter</button>
                                                    <button class="google_login linkdin">Login Linkdin</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--/.Panel 1-->
                            <!--Panel 2-->
                            <div class="tab-pane fade" id="panel2" role="tabpanel">
                                <form action="#" class="register">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label  class="control-label">Name</label>
                                                <input type="text" class="form-control" placeholder="Username">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label  class="control-label">Email</label>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                            <div class="form-group">
                                                <label  class="control-label">Password</label>
                                                <input type="password" class="form-control" placeholder="Password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option">
                                            <button type="submit" class="btn btn-default login_btn">Register</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        <!--/.Panel 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="demo">
    <!-- Modal -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="flaticon-close"></i></span></button>
                    <h2 class="modal-title" id="myModalLabel2"><a href="#"><img src="{% static 'images/logo.png' %}" alt=""></a><span class="disabled"></span></h2>
                </div>
                <div class="modal-body">
                    <div class="bar-nav">
                        <div class="bar-top">
                            <h2>Important Links</h2>
                            <ul>
                                <li><a href="index.html">About us<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Registration<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Available Courses<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Become An Instructor<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Events<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Blogs<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Pages<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">All teacher<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Account<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Programs<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">Gallery<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>
                                <li><a href="index.html">FaQ<i class="flaticon-angle-arrow-pointing-to-right"></i></a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="bar-contact">
                        <span>Contact</span>
                        <span>+1-202-555-0176</span>
                        <span>apply@ecostudy.com</span>
                    </div>

                    <div class="bar-icon">
                        <div class="serach_option widget_single">
                            <form>
                                <input type="text" name="Name" class="input-c" placeholder="Name">
                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                        <ul class="social_items d-flex">
                            <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram ins-icon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->
</section>




<!--========={ Popular Courses }========-->
<section class="popular_cources">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Our Popular Courses</h2>
                <div id="latest_blog_carousel" class="owl-carousel">
                     <div class="review_singel wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s">
                        <div class="blog-img">
                            <img src="{% static 'images/courses/web.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="blog-title">
                            <div class="shape"></div>
                            <h3><a href="#" title="">Website Development</a></h3>
                            <span># Some text </span>
                            <p>#Some text.</p>
                            <div class="cources_btn d-flex justify-content-between">
                               <a href="#" title="" class="apply_btn">Apply Now<i class="flaticon-angle-arrow-pointing-to-right"></i></a>
                                <span>$250</span>
                            </div>
                        </div>
                    </div>
                    <div class="review_singel wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
                        <div class="blog-img">
                            <img src="{% static 'images/courses/app.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="blog-title">
                            <div class="shape"></div>
                            <h3><a href="#" title="">Mobile Development</a></h3>
                            <span># Some text</span>
                            <p># Some text</p>
                            <div class="cources_btn d-flex justify-content-between">
                               <a href="#" title="" class="apply_btn">Apply Now<i class="flaticon-angle-arrow-pointing-to-right"></i></a>
                                <span>$280</span>
                            </div>
                        </div>
                    </div>

                   <div class="review_singel wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
                        <div class="blog-img">
                            <img src="{% static 'images/courses/vacation.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="blog-title">
                            <div class="shape"></div>
                            <h3><a href="#" title="">Vacation Courses</a></h3>
                            <span># Some text</span>
                            <p>#Some text</p>
                            <div class="cources_btn d-flex justify-content-between">
                               <a href="#" title="" class="apply_btn">Apply Now<i class="flaticon-angle-arrow-pointing-to-right"></i></a>
                                <span>$330</span>
                            </div>
                        </div>
                    </div>

                    <div class="review_singel">
                        <div class="blog-img">
                            <img src="{% static 'images/courses/short.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="blog-title">
                            <div class="shape"></div>
                            <h3><a href="#" title="">Short Courses</a></h3>
                            <span>#Some text</span>
                            <p>#Some text</p>
                            <div class="cources_btn d-flex justify-content-between">
                               <a href="#" title="" class="apply_btn">Apply Now<i class="flaticon-angle-arrow-pointing-to-right"></i></a>
                                <span>$200</span>
                            </div>
                        </div>
                    </div>

                   <div class="review_singel">
                        <div class="blog-img">
                            <img src="{% static 'images/courses/live.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="blog-title">
                            <div class="shape"></div>
                            <h3><a href="#" title="">Live Projects</a></h3>
                            <span>#Some text</span>
                            <p>#Some text</p>
                            <div class="cources_btn d-flex justify-content-between">
                               <a href="#" title="" class="apply_btn">Apply Now<i class="flaticon-angle-arrow-pointing-to-right"></i></a>
                                <span>$500</span>
                            </div>
                        </div>
                    </div>

                   <div class="review_singel">
                        <div class="blog-img">
                            <img src="{% static 'images/courses/bca.jpg' %}"  alt="" class="img-fluid">
                        </div>
                        <div class="blog-title">
                            <div class="shape"></div>
                            <h3><a href="#" title="">BCA Coaching</a></h3>
                            <span>#Some text</span>
                            <p>#Some text</p>
                            <div class="cources_btn d-flex justify-content-between">
                               <a href="#" title="" class="apply_btn">Apply Now<i class="flaticon-angle-arrow-pointing-to-right"></i></a>
                                <span>$300</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Popular Courses -->

  <!--========={ Popular Events }========-->
  <section class="popular_event">
      <div class="container" >
          <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6" >
                  <div class="events-single-box">

                      <div class="event-info">
                          <h3>About Us</h3>
                          <br>
                          <p align="justify">‘Center for Computer Studies’, an initiative of Prof. (Dr.) Pallvi Mangal, BCA, MCA, Ph.D aims at uplifting academic aspirants. The key fundamental of the Institute is the adoption of current trends and understanding the future need of the Industry. It looks forward to the overall development of the student, not only by bridging the gap between the student and Technology but also imparting personality development sessions so as to deliver a product who can be an asset to the society.</p>

                      </div>
                  </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                 <div class="events-single-box">

                      <div class="event-info">
                          <h3>Vision</h3>
                          <br>
                          <p align="justify">The Center aims to develop IT professionals who are fully equipped with the necessary technical skills to meet the ever-growing challenges of the Industry. For this, we believe in imparting high quality, industry relevant and cost effective training.</p>
                          <p align="justify">Our long term vision is to bring about a revolution in the field of Information Technology (IT) by providing expert and advanced knowledge of today and tomorrow’s IT industry requirements.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section><!-- ./ End Popular Events -->

<!--========={ Register Area }========-->
<section class="register_area">
    <div class="overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-7 form-content">
                <!--    <a class="wow fadeInUp" href="index.html"><img src="{% static 'images/logo_ccs.png' %}" alt="logo" height="130" width="250"></a> -->
                    <p class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">Join the Sphere Infotech</p>
                    <h2 class=" wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Fill Enquiry Form <br>To Know More</h2>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                    <div class="row">
                        <div class="form-full-box wow fadeInRight" data-wow-duration="2s" data-wow-delay=".1s">
                            <div class="form_title">
                                <h2>Enquiry Form</h2>
                            </div>
                            <form>
                                <div class="register-form">
                                    <div class="row">
                                        <div class="col-12 col-xs-12 col-md-12">
                                            <div class="form-group">
                                                <input class="form-control" name="name" placeholder="Name" required="" type="text">
                                            </div>
                                        </div>

                                        <div class="col-12 col-xs-12 col-md-12">
                                            <div class="form-group">
                                                <input class="form-control" name="email" placeholder="Email" required="" type="email">
                                            </div>
                                        </div>
                                        <div class="col-12 col-xs-12 col-md-12">
                                            <div class="form-group">
                                                <input class="form-control" name="phone" placeholder="Phone Number" required="" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12 col-xs-12 col-md-12">
                                            <div class="form-group" >
                                              <select class="form-control" name="courses" placeholder="Select Course">
                                              <font style="font-weight: 600;">  <option value="" disabled selected>Select your Course</option> </font>
                                                <option> One </option>
                                                <option> Two </option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xs-12 col-md-12">
                                            <div class="form-group">
                                            <textarea class="form-control" placeholder="Type your messsage here"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xs-12 col-md-12 register-btn-box">
                                            <button class="register-btn" type="submit">Enquire</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./ End Register Area section -->

<br><br><br><br>






<!--========={ Our Testimonial }========-->
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2>Testimonials</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                 <div id="testimonial">
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="{% static 'images/team/prek.png' %}" alt="member img" class="img-fluid  wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                        </div>
                       <h4 class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">Preksha Trivedi</h4>
                        <span class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">(2014-2017 Batch)</span>
                        <p class=" wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">Thank you So Much Pallvi Ma'am for being such a great mentor. You have always guided us to the best way of our career and your teaching methods have always helped us to score higher. I am very much grateful and blissful to have you as a mentor in my life. Your teaching and guidance has always made me confident in every test of my life.!! Today because of you I have achieved great success and reached at high designation. Ma'am, once again I thank you for being so kind. Keep blessing and guiding in the future.!!</p>
                    </div>
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="{% static 'images/team/tinki.jpg' %}" alt="member img" class="img-fluid wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                        </div>
                        <h4>Tinki Chandna</h4>
                         <span>(2013-2016 Batch)</span>
                        <p>She is one-of-a kind teacher. The one you'll remember till the rest of your life. She is really creative and innovative with her teaching skills as whatever she will make you learn it will be from the base, which will be really easy to understand and beyond that she really helps an individual to grow with good personality. It was an honour for me to be your student maa'm. Feel lucky enough to be in your Batch of 2013-2016 Thank you ma'am.</p>
                    </div>
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="{% static 'images/team/bhavesh.png' %}" alt="member img" class="img-fluid wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                        </div>
                        <h4>Bhavesh Naicker</h4>
                         <span>(2014-2017 Batch)</span>
                        <p>Whether it was practical or theory, Ma’am the way you imparted knowledge to us was the easiest way of learning, the way you interacted with us was less of a faculty and more as a friend. Finding a substitute in place of you is “ERROR 404”. Thank you so much Ma’am.</p>
                    </div>
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="{% static 'images/team/priyanka.jpg' %}" alt="member img" class="img-fluid wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                        </div>
                        <h4>Priyanka Valecha</h4>
                         <span>(2013-2016 Batch)</span>
                        <p>Pallvi Ma'am has been one of the most wonderful guides a student can wish for. Her expertise with the subject has helped me with the technical growth. Her teaching approach boosts confidence within us and zeal to learn more is gathered. She made difficult stuff, easy for us with her point on notes. Ma'am, you truly are an inspiration for any student and thanks for making learning easily effective.</p>
                    </div>
                    <div class="testimonial_single">
                        <div class="member-img">
                            <img src="{% static 'images/team/dj.jpg' %}" alt="member img" class="img-fluid wow zoomIn" data-wow-duration="2s" data-wow-delay=".2s">
                        </div>
                        <h4>Divya Jadav</h4>
                         <span>(2015-2018 Batch)</span>
                        <p>I am grateful to have a teacher/mentor like Pallvi Ma’am. She is skilled, humble, passionate, and has excellent teaching skills and always excited to show you the way that I have experienced personally. What she teaches you will help you in your study not just during the course, but beyond that also.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./ End Our Testimoinial -->


<!--========={ Our Sponsor }========-->
<section class="our_sponsor">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="title">
                    <h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">Our Sponsor</h2>
                    <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">At vero eos et accusamus et iusto odio dignissimos ducimus qui similique sunt in culpa qui officia deserunt mollitia animi</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div id="sponsored_logos" class="owlCarousel sponsored_compani_logos">
                    <img src="{% static 'images/logos/c.png' %}" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".1s"> &nbsp;
                    &nbsp;<img src="{% static 'images/logos/cpp.png' %}" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".2s">
                    <img src="{% static 'images/logos/python.png' %}" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".3s">
                </div>
                <div id="sponsored_logos_2" class="owlCarousel sponsored_compani_logos">
                    <img src="{% static 'images/logos/php.png' %}" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".6s">
                    <img src="{% static 'images/logos/java.png' %}" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s">
                    <img src="{% static 'images/logos/flutter.png' %}" alt="member img" class="img-fluid  wow fadeIn" data-wow-duration="2s" data-wow-delay=".4s">
                </div>
            </div>
        </div>
    </div>
</section><!-- ./ End Our Sponsor -->

{% endblock %}
<script type="text/javascript">
  $( document ).ready(function() {
    console.log( "ready!" );
});
</script>
